<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="sparkapp" version="3.0">
    <display-name>Morphia Spark API</display-name>
    <description>A sample Morphia Spark API on a Servlet Container</description>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <!--Database connection-->
    <listener>
        <listener-class>com.flectosystems.morphiasparkapi.config.MongoDBInitializer</listener-class>
    </listener>
    <!-- Dependency Injection -->
    <listener>
        <listener-class>com.flectosystems.morphiasparkapi.config.DependencyInjectionInitializer</listener-class>
    </listener>

    <!--Database connection params-->
    <context-param>
        <param-name>database</param-name>
        <param-value>concert_api</param-value>
    </context-param>
    <context-param>
        <param-name>databaseHost</param-name>
        <param-value>127.0.0.1</param-value>
    </context-param>
    <context-param>
        <param-name>databasePort</param-name>
        <param-value>27017</param-value>
    </context-param>
    <context-param>
        <param-name>user</param-name>
        <param-value>mongo</param-value>
    </context-param>
    <context-param>
        <param-name>password</param-name>
        <param-value>mongodb</param-value>
    </context-param>

    <!--
        FILTERS
    -->
    <!-- Concert filter -->
    <filter>
        <filter-name>ConcertFilter</filter-name>
        <filter-class>com.flectosystems.morphiasparkapi.servlet.SparkApplicationInjector</filter-class>
        <init-param>
            <param-name>applicationClass</param-name>
            <param-value>com.flectosystems.morphiasparkapi.service.ConcertService</param-value>
        </init-param>
        <init-param>
            <param-name>singleton</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <!-- Venue filter -->
    <filter>
        <filter-name>VenueFilter</filter-name>
        <filter-class>com.flectosystems.morphiasparkapi.servlet.SparkApplicationInjector</filter-class>
        <init-param>
            <param-name>applicationClass</param-name>
            <param-value>com.flectosystems.morphiasparkapi.service.VenueService</param-value>
        </init-param>
        <init-param>
            <param-name>singleton</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <!-- Venue filter -->
    <filter>
        <filter-name>ArtistFilter</filter-name>
        <filter-class>com.flectosystems.morphiasparkapi.servlet.SparkApplicationInjector</filter-class>
        <init-param>
            <param-name>applicationClass</param-name>
            <param-value>com.flectosystems.morphiasparkapi.service.ArtistService</param-value>
        </init-param>
        <init-param>
            <param-name>singleton</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <!--Filter Mapping (URLs)-->
    <filter-mapping>
        <filter-name>ConcertFilter</filter-name>
        <url-pattern>/api/concert/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>VenueFilter</filter-name>
        <url-pattern>/api/venue/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>ArtistFilter</filter-name>
        <url-pattern>/api/artist/*</url-pattern>
    </filter-mapping>


</web-app>